//Color Scheme
$_white:#fff;
$_isabelline: #ececec;
$_lgray: #d1d1d1; //Light gray
$_smokyb: #0c0910; //Smoky Black
$_granite: #646266; //Granite Gray
$_qsilver: #a6a5a8; //Quick Silve

//Typography
$fstdtt: 'Old Standard TT', serif;
$raleway: 'Raleway', sans-serif;

//font sizes
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

//font weights
$regular: 400;
$bold: 700;

