.footer{
    box-sizing: border-box;
    width: 32rem;
    height: 12rem;
    background-color: $_smokyb;
    color: $_white;
    position: relative;
    top:-27.4rem;
    
}
.footer h2{
    font-size: $xx-large;
    position: relative;
    left: 4rem;
    top:2rem;
}
.footer__email{
    position: relative;
    left: 4rem;
    top:1rem;
    height: 2rem;
    width: 15rem;
    &--txt{
    font-family: $fstdtt;
    position: relative;
    top: -1rem;
    right: 11rem;
    }   
}
.footer__botton{
    font-family: $fstdtt;
    font-size: $x-large;
    writing-mode: vertical-rl;
    position: relative;
    left:9.6rem;
    top:1rem;
    background-color: $_white;
}
