
.navbar__brand{
    width: 3.6rem;
    height: 3.9rem;
    background-color: $_smokyb;
    font-family: $fstdtt;
    font-size: $x-large;
    color: $_white;
    text-decoration: none;
    text-align: center;
    &--icon{
        position: relative;
        top: 33%;
    }
}
.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.menu{
    list-style: none; 
    &__txt{
    text-decoration: none;
    color: $_smokyb;
    font-family: $raleway;
    font-weight: $bold;
    font-size: $small;
    }
}
.navbar ul li{
    display: inline-block;
}
.navbar ul li a{
    display: block;
    padding: 0.5rem 1rem;
    margin-inline-end: 2rem;
    transition: all 0.4s linear;
}
